@import "tailwindcss";

:root {
  --font-orbitron: "Orbitron", sans-serif;
  --font-inter: "Inter", sans-serif;
}

@theme {
  --color-navy-950: #020617; /* Very Dark Blue (Background) */
  --color-navy-900: #0f172a; /* Card Background */
  --color-navy-800: #1e293b; /* Borders */
  
  --color-chem-yellow: #fbbf24; /* Accent */
  --color-chem-green: #15803d;  /* Logo */
  
  --font-orbitron: var(--font-orbitron);
  --font-inter: var(--font-inter);
}

/* Force dark styling globally */
body {
  background-color: var(--color-navy-950);
  color: #ffffff;
}